<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/css/bootstrap.min.css"
    integrity="sha384-SI27wrMjH3ZZ89r4o+fGIJtnzkAnFs3E4qz9DIYioCQ5l9Rd/7UAa8DHcaL8jkWt" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/js/bootstrap.min.js"
    integrity="sha384-3qaqj0lc6sV/qpzrc1N5DC6i1VRn/HyX4qdPaiEFbn54VjQBEU341pvjz7Dv3n6P"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <title>Create Hospital</title>
</head>

<body>
  <div id="app">
    <div class="container">
      <h2>เพิ่มโรงพยาบาล</h2>
      <form>
        <div class="form-group">
          <label>ชื่อ</label>
          <input v-model="name" type="text" class="form-control" placeholder="โรงพยาบาลหัวเฉียว">
        </div>
        <div class="form-group">
          <label>รายละเอียด</label>
          <textarea v-model="description" class="form-control" placeholder="ที่อยู่ ประวัติโดยคร่าว"
            rows="3"></textarea>
        </div>
      </form>
      <label>คลิกเลือกสถานที่</label>
      <div id=map></div>
      <span>${load}</span>
      <div style="margin-bottom: 10px;">
        <button @click="submit" type="button" class="btn btn-success">แก้ไข</button>
        <button @click="remove" type="button" class="btn btn-danger">ลบ</button>
      </div>

    </div>
  </div>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBlcegKXIhTmyfLMCkr2ScrcBD22D5t4Xk"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  {% load staticfiles %}
  <script>
    var app = new Vue({
      el: '#app',
      delimiters: ['${', '}'],
      data: {
        name: "{{ name }}",
        description: "{{ description }}",
        load: ''
      },
      mounted() {
        this.map = new google.maps.Map(document.getElementById('map'), {
          center: { lat: -34.397, lng: 150.644 },
          zoom: 8,
          streetViewControl: false,
          disableDefaultUI: true
        })
        google.maps.event.addListener(this.map, 'click', (event) => {
          this.placeMarker(event.latLng);
        })
        this.$nextTick(() => {
          this.getUserLocation()
        })
      },
      methods: {
        getUserLocation() {
          let icon = "{% static "location/hospital.png" %}"
          // this.name = "{{ name }}"
          this.position = {
            latitude: parseFloat("{{ latitude }}"),
            longitude: parseFloat("{{ longitude }}")
          }
          this.map.panTo({
            lat: this.position.latitude,
            lng: this.position.longitude
          })
          this.newLocation = {
            longitude: this.position.latitude,
            latitude: this.position.longitude
          }
          this.map.setZoom(15)
          this.userMarker = new google.maps.Marker({
            position: {
              lat: this.position.latitude,
              lng: this.position.longitude
            },
            icon: icon,
            map: this.map,
            title: 'myMarker'
          })
        },
        async submit() {
          this.load = 'loading'
          try {
            let information = await axios.put(
              'http://localhost:8000/location/' + "{{ id }}",
              {
                name: this.name,
                description: this.description,
                ...this.newLocation
              }
            )
            alert('edit location successful')
          } catch (error) {
            alert('PERMISSION DINIED')
          }
        },
        placeMarker(location) {
          this.newLocation = {
            longitude: location.lng(),
            latitude: location.lat()
          }
          this.userMarker.setPosition(
            new google.maps.LatLng(this.newLocation.latitude, this.newLocation.longitude)
          )
        },
        async remove() {
          try {
            let information = await axios.delete(
              'http://localhost:8000/location/' + "{{ id }}",
              {
                name: this.name,
                description: this.description,
                ...this.newLocation
              }
            )
            alert('delete location successful')
          } catch (error) {
            alert('PERMISSION DINIED')
          }
        }
      }
    })
  </script>
  <style>
    #map {
      height: 50vh;
      border-radius: 10px;
    }
  </style>
</body>

</html>